recursive-include samantha *.py
include README.md
include *.py
include *.txt
include MANIFEST
include LICENSE
include *.md
include Makefile
include .coveragerc
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.txt
include *.json

global-exclude *.swp

recursive-exclude samantha *.pyc
recursive-exclude .circleci *.yml

prune config
prune tests
prune .circleci
prune credentials.json
prune Vagrantfile
