recursive-include samantha *.py
include README.md
include *.py
include *.txt
include MANIFEST
include LICENSE
include *.md
include Makefile
recursive-include docs *.md

global-exclude *.swp

recursive-exclude samantha *.pyc
recursive-exclude .circleci *.yml

prune config
prune tests
prune .circleci
