recursive-include samantha *.py

recursive-include iaac *.yml
recursive-include iaac *.py
recursive-include iaac/inventory *

recursive-include callback_plugins *.py

include README.md
include *.py
include *.txt
include MANIFEST
include LICENSE
include *.md
include Makefile
include .coveragerc
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.txt
recursive-include docs *.jpg
recursive-include docs *.png
recursive-include docs *.xml
include *.json
include *.yml

global-exclude *.swp

recursive-exclude samantha *.pyc
recursive-exclude .circleci *.yml

prune config
prune tests
prune .circleci
prune credentials.json
prune Vagrantfile
prune .vault_password.txt
prune test.py
